* {
	padding : 0;
	margin : 0;
	font-family: 'Titillium Web', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


header {
    height: 65px;
    width: 100%;
    background-color: rgba(235, 102, 35, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(3, 30, 99, 1);
  transition: all 0.5s;
}

.header-right ul li a{
  text-decoration: none;
  color: #fff;
  padding: 1px 30px;
  border: 1px solid;
}

.header-right ul li {
  display: inline-block;
}

.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-wrapper {
	padding: 150px 0 120px 0;
	background-image: url(images/mehmet-turgut-kirkgoz-LqQKawpK2Do-unsplash.jpg);
	background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 2px;
}

.top-wrapper p {
    opacity: 1;
    margin-bottom: 50px;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.btn-wrapper {
    margin: 20px 0;
}

.signup {
    background-color: #092499;
}

.main-wrapper {
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.heading {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #5f5d60;
  border-bottom: tomato solid 1px;
}

.heading h2 {
  font-weight: normal;
}

.pro{
  padding-top: 15px;
}

.pro-icon p{
  font-weight: bold;
}

.description{
  padding-bottom: 30px;
}

.icon {
  width: 124px;
}

footer {
  background-color: #031e63;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-logo p{
  float: left;
  font-size: 12px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list li a{
  color: white;
  list-style-type: none;
}
